
.note-viewer {
  padding: 16px;
  border-left: 1px solid #ccc;
}

h3 {
  color: #009688;
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.2s ease;
}

h3:hover {
  color: #00695c;
}

p {
  line-height: 1.5;
}
