.notes-page__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.notes-page__header {
  max-height: 60px;
}

.notes-page__content {
  display: flex;
  flex: 1;
  position: relative;
}

.round-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 100;
}
